In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/online_retail_II_sheet1.csv")

In [3]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

### Delete all returned orders

In [4]:
mask = df['Invoice'].astype(str).str.startswith('C') | (df['Quantity'] <= 0)

df = df.drop(df[mask].index)

df.reset_index(drop=True, inplace=True)

print(df.shape)

(513134, 8)

In [5]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
513129,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
513130,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
513131,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
513132,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
513133,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513134 entries, 0 to 513133
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      513134 non-null  object
 1   StockCode    513134 non-null  object
 2   Description  512033 non-null  object
 3   Quantity     513134 non-null  int64
 4   InvoiceDate  513134 non-null  object
 5   Price        513134 non-null  float64
 6   Customer ID  407695 non-null  float64
 7   Country      513134 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 31.3+ MB

In [7]:
# تعداد کل مقادیر NaN در کل دیتافریم
total_nans = df.isna().sum().sum()
print(f"Total NaN values: {total_nans}")

# تعداد سطرهایی که حداقل یک NaN دارند
rows_with_nans = df.isna().any(axis=1).sum()
print(f"Rows with at least one NaN: {rows_with_nans}")

# تعداد NaN به تفکیک ستون
nans_per_column = df.isna().sum()
print("\nNaNs per column:")
print(nans_per_column)

Total NaN values: 106540
Rows with at least one NaN: 105439

NaNs per column:
Invoice             0
StockCode           0
Description      1101
Quantity            0
InvoiceDate         0
Price               0
Customer ID    105439
Country             0
dtype: int64

In [8]:
print(f"Rows before: {len(df)}")

df = df.dropna(how='any')

df.reset_index(drop=True, inplace=True)

print(f"Rows after: {len(df)}")

Rows before: 513134
Rows after: 407695

In [9]:
df = df.copy()

df['Customer ID'] = df['Customer ID'].astype(str)
print(df['Customer ID'].dtype)

object

In [10]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [11]:
df.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID            object
Country                object
dtype: object

In [12]:
unique_counts = df.nunique()

print(unique_counts)

Invoice        19215
StockCode       4017
Description     4444
Quantity         343
InvoiceDate    18010
Price            449
Customer ID     4314
Country           37
dtype: int64

In [16]:
df[['Quantity', 'Price']].describe()

            Quantity          Price
count  407695.000000  407695.000000
mean       13.586686       3.294188
std        96.842229      34.756655
min         1.000000       0.000000
25%         2.000000       1.250000
50%         5.000000       1.950000
75%        12.000000       3.750000
max     19152.000000   10953.500000

In [17]:
def iqr_outlier_stats(df, columns):
    results = {}
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1

        # مرزهای پایین و بالا
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # ماسک اوت‌لایرها
        mask_outliers = (df[col] < lower_bound) | (df[col] > upper_bound)
        outlier_count = mask_outliers.sum()
        total_count = df.shape[0]
        outlier_percent = (outlier_count / total_count) * 100

        results[col] = {
            'Q1': Q1,
            'Q3': Q3,
            'IQR': IQR,
            'lower_bound': lower_bound,
            'upper_bound': upper_bound,
            'outlier_count': outlier_count,
            'outlier_percent': outlier_percent
        }

    return pd.DataFrame(results).T

# اجرای تابع روی ستون‌های Quantity و Price
stats_df = iqr_outlier_stats(df, ['Quantity', 'Price'])
print(stats_df)

            Q1     Q3   IQR  lower_bound  upper_bound  outlier_count  \
Quantity  2.00  12.00  10.0        -13.0         27.0        26338.0
Price     1.25   3.75   2.5         -2.5          7.5        32989.0

          outlier_percent
Quantity         6.460221
Price            8.091588

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def analyze_outliers_iqr(df, columns):
    stats = []
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        mask_outliers = (df[col] < lower_bound) | (df[col] > upper_bound)
        outlier_count = mask_outliers.sum()
        total_count = df.shape[0]
        outlier_percent = (outlier_count / total_count) * 100
        
        stats.append({
            'Column': col,
            'Q1': Q1,
            'Q3': Q3,
            'IQR': IQR,
            'Lower Bound': lower_bound,
            'Upper Bound': upper_bound,
            'Outlier Count': outlier_count,
            'Outlier %': outlier_percent
        })
        
        # 📊 Boxplot برای ستون
        plt.figure(figsize=(6,4))
        plt.boxplot(df[col], vert=False)
        plt.title(f'Boxplot for {col} (Outliers shown as points)')
        plt.xlabel(col)
        plt.axvline(lower_bound, color='red', linestyle='--', label='Lower Bound')
        plt.axvline(upper_bound, color='green', linestyle='--', label='Upper Bound')
        plt.legend()
        plt.show()
        
        # 📊 Bar chart تعداد اوت‌لایر در برابر داده‌های نرمال
        plt.figure(figsize=(5,4))
        plt.bar(['Normal Data', 'Outliers'], [total_count - outlier_count, outlier_count],
                color=['skyblue', 'salmon'])
        plt.title(f'Count of Normal vs Outliers for {col}')
        plt.ylabel("Number of records")
        plt.show()
    
    return pd.DataFrame(stats)

# اجرای تابع
stats_df = analyze_outliers_iqr(df, ['Quantity', 'Price'])
print(stats_df)